html,
body {
    height: 100%;
}

body {
    cursor: none;
}

h1 {
    color: white;
    -webkit-text-stroke: 2px black;
    text-align: center;
    font-size: 100px;
    font-family: 'Rubik Mono One';
    text-shadow: 5px 5px black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    margin: 0 auto;
}

.cell {
    position: relative;
    width: 612px;
    height: 612px;
    margin: 5px;
    cursor: none;
}

.den,
.bear {
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}

@keyframes rise {
    0% {
        transform: translateX(-50%) translateY(-30%);
        opacity: 0;
    }

    100% {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
}

.bear {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    width: 40%;
    height: auto;
    z-index: 2;
    pointer-events: none;
    animation: rise 0.2s ease-out;
}

.cursor {
    height: 250px;
    width: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url("./mallet.png");
    background-size: 100% 100%;
    transform: translate(-90%, -100%);
    transition: transform .1s;
    pointer-events: none;
}

.cursor.active {
    transform: translate(-20%, -20%) rotate(75deg);
}


/* 

// Christopher Agraz moved contents from bruin.css (lines 16-92) here on 7/8/25 at 12:21 am and delted bruin.css from /src

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("./blur.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score{
    font-size: 4em;
    margin-bottom: .5em;
}

.board {
    width: 1660px;
    height: 1360px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
}

.den {
    background: url("./den.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.den .joe{
    width: 35%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30%;
    animation: rise .2s ease-out;
}
@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(30%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}

.cursor{
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url("./mallet.png");
    background-size: 100% 100%;
    transform: translate(-90%, -100%);
    transition: transform .1s;
    pointer-events: none;
}

.cursor.active{
    transform: translate(-20%, -20%) rotate(75deg);
}

*/