html,
body {
  height: 100%;
}

body {
  cursor: default;
}

body.game-on {
  cursor: none;
}

h1 {
  color: white;
  -webkit-text-stroke: 2px black;
  text-align: center;
  font-size: 100px;
  font-family: 'Rubik Mono One';
  text-shadow: 5px 5px black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  margin: 0 auto;
}

.cell {
  position: relative;
  width: 612px;
  height: 612px;
  margin: 5px;
  cursor: none;
}

.den,
.bear {
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
}

@keyframes rise {
  0% {
    transform: translateX(-50%) translateY(-30%);
    opacity: 0;
  }

  100% {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
  }
}

.bear {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  width: 40%;
  height: auto;
  z-index: 2;
  pointer-events: none;
  animation: rise 0.2s ease-out;
}

.cursor {
  height: 250px;
  width: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url("./mallet.png");
  background-size: 100% 100%;
  transform: translate(-90%, -100%);
  transition: transform .1s;
  pointer-events: none;
  z-index: 9999;
}

.cursor.active {
  transform: translate(-20%, -20%) rotate(75deg);
}

.start-screen {
  height: 100vh;
  width: 100vw;
  background-image: url("./clear.jpg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  position: relative;
}

.start-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.start-instruction {
  font-size: 3rem;
  opacity: 0.8;
  margin-bottom: 1rem;
}

.start-button {
  margin-top: 7rem;
  padding: 1rem 2rem;
  font-size: 4rem;
  background-color: #FFDC00;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #f1c40f;
}

.title-image {
  width: 2000px;
  height: auto;
  margin-bottom: 10rem;
}

.footer-text {
  position: absolute;
  bottom: 20px;
  font-size: 2rem;
  font-family: 'Times New Roman';
  color: rgb(25, 38, 230);
  text-align: right;
  opacity: 1;
}